In [ ]:
import pandas as pd

In [ ]:
#Use to import the file into google Colab drive
from google.colab import files

#Use to import io, which opens the file from the Colab drive
import io

In [ ]:
# This will open a widget when run that will enable you to browse the files on your local storage drive.
uploaded = files.upload()

Saving CarbonEmissionData2.csv to CarbonEmissionData2.csv

In [ ]:
# Now use the below code to read the csv in pandas' dataframe
df = pd.read_csv(io.StringIO(uploaded['CarbonEmissionData2.csv'].decode('utf-8')))

In [ ]:
df.head()

  Category Brand Model Name/No.  ...  weight (kg) Price (MRP)  Carbon emmision (kg)
0   Laptop  Dell    XPS 13 9360  ...         1.23    110000.0                 286.0
1   Laptop  Dell    XPS 15 9570  ...         2.05    153603.0                 324.0
2   Laptop  Dell       XPS 7390  ...         1.29    120957.0                 372.0
3   Laptop  Dell       XPS 9310  ...         1.20    189990.0                 322.0
4   Laptop  Dell       XPS 9370  ...         1.21    110529.0                 297.0

[5 rows x 8 columns]

In [ ]:
import numpy as np

from sklearn.linear_model import LinearRegression

In [ ]:
print('Shape of the data:', df.shape)

# -------------

# # find unique Categories
# categories = df['Category'].unique()

# # assign each category a int value, to train the model
# categories_map = {}
# for i,x in enumerate(categories): categories_map[x]=i

# # map each category with int value
# df['Category'] = df['Category'].map(categories_map)

# -------------

def map_string_to_int(series):
  str_val = series.unique()

  str_val_map = {}
  for i,x in enumerate(str_val): str_val_map[x]=i

  return series.map(str_val_map)

df['Category'] = map_string_to_int(df['Category'])
df['Brand'] = map_string_to_int(df['Brand'])
df['Model Name/No.'] = map_string_to_int(df['Model Name/No.'])
df['Assembly Location'] = map_string_to_int(df['Assembly Location'])

df

Shape of the data: (32, 8)

    Category  Brand  ...  Price (MRP)  Carbon emmision (kg)
0          0      0  ...     110000.0                286.00
1          0      0  ...     153603.0                324.00
2          0      0  ...     120957.0                372.00
3          0      0  ...     189990.0                322.00
4          0      0  ...     110529.0                297.00
5          0      0  ...     289000.0                380.00
6          0      0  ...     189990.0                342.00
7          0      0  ...     154446.0                327.00
8          0      1  ...      77800.0                265.00
9          0      1  ...      28000.0                275.00
10         0      1  ...      73899.0                320.00
11         0      1  ...      76379.0                345.00
12         0      1  ...      76379.0                360.00
13         0      1  ...      29899.0                310.00
14         0      1  ...      41208.0                235.00
15         0      1  ...     152042.0                355.00
16         0      1  ...     220900.0                430.00
17         0      1  ...     151900.0                300.00
18         0      1  ...      25591.0                345.00
19         0      1  ...     275075.0                250.00
20         0      1  ...     144363.0                292.00
21         0      1  ...     221863.0                260.00
22         0      1  ...     161900.0                375.00
23         0      2  ...      93697.0                421.00
24         0      2  ...     140285.0                448.00
25         0      2  ...          NaN                525.00
26         0      2  ...          NaN                323.00
27         0      2  ...          NaN                457.00
28         0      2  ...          NaN                445.24
29         0      2  ...          NaN                386.00
30         0      2  ...          NaN                520.00
31         0      2  ...          NaN                449.00

[32 rows x 8 columns]

In [ ]:
X = df.drop('Carbon emmision (kg)', axis=1)
y = df['Carbon emmision (kg)']

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

X_train['weight (kg)'].fillna((X_train['weight (kg)'].mean()), inplace=True)
X_train['Price (MRP)'].fillna((X_train['Price (MRP)'].mean()), inplace=True)

X_test['weight (kg)'].fillna((X_test['weight (kg)'].mean()), inplace=True)
X_test['Price (MRP)'].fillna((X_test['Price (MRP)'].mean()), inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [ ]:
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
from sklearn.metrics import accuracy_score

predicted = model.predict(X_test)

pd.DataFrame(predicted, np.array(y_test))

                0
386.0  406.005928
355.0  351.932600
448.0  422.109383
300.0  273.626203
265.0  344.025980
275.0  324.459476
520.0  405.088534
525.0  522.571299
360.0  397.343388
286.0  280.804901
297.0  280.127686